<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<!-- 开发环境版本，包含了有帮助的命令行警告 -->
	 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	 <!-- 生产环境版本，优化了尺寸和速度 -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
	<!-- 防止f5显示{{}} -->
	<style type="text/css">
		[v-clock]{
			display: none;
		}
	</style>
</head>
<body> 
    <div id="app">
        {{ message }}
    </div>
	
	<div id="app-2">
	  <span v-bind:title="message">
		鼠标悬停几秒钟查看此处动态绑定的提示信息测试！
	  </span>
    </div>
	
	<div id="app-4">
	  <ol>
		<li v-for="todo in todos">
		  {{ todo.text }}
		</li>
	  </ol>
	</div>
	
	<div id="app-4-2">
		<ul>
			<li v-for="todo in todos">{{todo}}</li>
		</ul>
	</div>
	
	<div id="app-5">
	  <p>{{ message }}</p>
	  <button v-on:click="reverseMessage">逆转消息</button>
	</div>
	
	<div id="app-6">
	  <p>{{ message }}</p>
	  <input v-model="message">
	</div>
	
	<div id="app-7">
		<p>{{count*2}}</p>
		<button type="button" v-on:click="add">增加</button>
		<button type="button" v-on:click="del">减少</button>
		<button type="button" v-on:click="msg">弹出对话框</button>
	</div>

<div id="app-8">
	<h2 v-once>{{firstname}}{{lastname}}</h2>
	<h2 v-html="htmldata"></h2>
	<h2 v-cloak>{{firstname}}{{lastname}}</h2>
</div>


</body>


 <script type="application/javascript">
	 
	 let app8=new Vue({
		 el:'#app-8',
		 data:{
			 firstname:'雷',
			 lastname:'军',
			 htmldata:'<p style="color:red;">我是html代码</p>'
		 }
	 })
	 /* 绑定方法*/
	 
	 var app6 = new Vue({
		 el:'#app-7',
		 data:{
			 count:10
		 },
		 methods:{
			 add:function(){
				 this.count++
			 },
			 del:function(){
				 this.count--
			 },
			 msg:msgTip
		 }
	 })
	 function msgTip()
	 {
		 alert('ssdas')
	 	//alert(this.app6.data.count);
	 }
	 
	 /* 绑定*/
     var app = new Vue({
         el: '#app',
         data: {
             message: 'Hello Vue! this is my data'
         }
     })
	 
	 
	 var app2 = new Vue({
	 	el:'#app-2',
		data:{
		  message: '页面加载于 ' + new Date().toLocaleString()
		}
	 })
	 /* 循环输出*/
	 var app4 = new Vue({
	  el: '#app-4',
	  data: {
		todos: [
		  { text: '学习 JavaScript' },
		  { text: '学习 Vue' },
		  { text: '整个牛项目' }
		]
	  }
	})
	 /* 循环输出*/
	var app4_2=new Vue({
		el:'#app-4-2',
		data:{
			todos:['吃饭','喝水']
		}
	})
	
	  /* 按钮事件*/
	 var app5 = new Vue({
	  el: '#app-5',
	  data: {
		message: 'Hello Vue.js!'
	  },
	  methods: {
		reverseMessage: function () {
		  this.message = this.message.split('').reverse().join('')
		}
	  }
	})
	  /* 表单双向绑定*/
	 var app6 = new Vue({
	  el: '#app-6',
	  data: {
		message: '表单双向绑定'
	  }
	})
 </script>
</html>