<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<script src="../lib/vue-2.4.0.js"></script>
	</head>
	<body>
		<div id="app">
			<input type="text" name="name" v-model="user.name">
			<h2>{{user.name}}</h2>
			<button v-on:click="btnClick">获取输入</button>

			
			<div>
				<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
				<label for="jack">Jack</label>
				<input type="checkbox" id="john" value="John" v-model="checkedNames">
				<label for="john">John</label>
				<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
				<label for="mike">Mike</label>
				<br>
				<span>Checked names: {{ checkedNames }}</span>
			</div>
			<div>
				<input type="radio" id="one" value="One" v-model="picked">
				<label for="one">One</label>
				<br>
				<input type="radio" id="two" value="Two" v-model="picked">
				<label for="two">Two</label>
				<br>
				<span>Picked: {{ picked }}</span>
			</div>

		</div>
	</body>
	<script>
		let app = new Vue({
			el: '#app',
			data: {
				user: {
		 		name: '张三'
				},
				checkedNames: [],
				picked: ''
			},
			methods: {
				btnClick() {
					console.log(JSON.stringify(this.user));
				}
			}
		})
	</script>
</html>
